<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Alphascan_Preliminary_API.sensorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Alphascan_Preliminary_API.sensorSettings>
            <setting name="mmWaveUARTPort" serializeAs="String">
                <value />
            </setting>
            <setting name="mmWaveDATAPort" serializeAs="String">
                <value />
            </setting>
            <setting name="globalSaveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="mmWaveConfigDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GPSCOMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GPSConfigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="GPSEnableRTK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPSRateMs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RFIDUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RFIDPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RFIDReaderIP" serializeAs="String">
                <value />
            </setting>
            <setting name="RFIDServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="RFIDPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="globalSavemmWaveData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalSaveGPSData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalSaveRFIDData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalVehicleSide" serializeAs="String">
                <value>0</value>
            </setting>
        </Alphascan_Preliminary_API.sensorSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
